project:
  type: website

website:
  title: "Weiling Luo"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: projects.qmd
        text: Projects
      - href: courses.qmd
        text: Courses
      

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
    
execute: 
  freeze: auto



